doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title Your Project
    // Flatdoc
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/legacy.js')
    script(src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/flatdoc.js')
    // Flatdoc theme
    link(href='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/style.css', rel='stylesheet')
    script(src='https://cdn.rawgit.com/rstacruz/flatdoc/v0.9.0/theme-white/script.js')
    // Meta
    meta(content='API Filmaffinity', property='og:title')
    meta(content='API REST no oficial de Filmaffinity en castellano.', name='description')
    // Initializer
    script.
      Flatdoc.run({
      fetcher: Flatdoc.github('carlosramosa/api-filmaffinity')
      });
    body(role='flatdoc')
    .header
      .left
        h1 Your Project
        ul
          li
            a(href='https://github.com/carlosramosa/api-filmaffinity') View on GitHub
          li
            a(href='https://github.com/carlosramosa/api-filmaffinity/issues') Issues
      .right
        // GitHub buttons: see http://ghbtns.com
        iframe(src='http://ghbtns.com/github-btn.html?user=carlosramosa&repo=api-filmaffinity&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='110', height='20')
    .content-root
      .menubar
        .menu.section(role='flatdoc-menu')
      .content(role='flatdoc-content')
